{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid-container">
        <h1>Analises list</h1>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for analisi in analises %}
                <tr>
                    <td><a href="{{ path('analisis_show', { 'id': analisi.id }) }}">{{ analisi.id }}</a></td>
                    <td>{{ analisi.name }}</td>
                    <td>
                        
                            
                                <a href="{{ path('analisis_show', { 'id': analisi.id }) }}" class="hollow button">show</a>
                            
                            
                                <a href="{{ path('analisis_edit', { 'id': analisi.id }) }}" class="hollow button">edit</a>
                            
                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

         <a class="button success" href="{{ path('analisis_new') }}">Create a new analisis</a>
    </div>
{% endblock %}
